.chatBox{
    width: clamp(200px, 40vw, 500px);
    height: 75vh;
    padding: 1rem 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;

    background-color: white;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);

    & .chatContent{
        height: 90%;
        overflow-y: scroll;

        & .chatHistory {
            height: 100%;
            overflow-y: scroll;

            & .message{
                padding: 3px 0px;
                margin-bottom: 1rem;

                & .message_author{
                    color: rgb(226, 158, 170);
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                &:hover{
                    background-color: rgba(107, 254, 254, 0.294);
                    cursor: pointer;
                }
            }

            & .message:nth-of-type(2n){
                text-align: end;
            }
        }
    }
}

.chatInput{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input{
        width: 80%;
    }
}